################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/hello world/FileContentIndex
/.vs/hello world/v17/Browse.VC.db
/.vs/hello world/v17
/Project1/源.cpp
/.gitignore
